numpy
scipy
pandas
astropy
cdflib
h5py  # not used by sololab directly - silences a SunpyUserWarning triggered when solo-epd-loader imports sunpy.io._cdf at startup
solo-epd-loader>=0.4.4,<0.5  # EPD energy-bin label shape changed between versions before 0.4.4 (see sololab.dash_app.plotting.epd_bin_text); test before widening this range
seaborn
matplotlib
dash
dash-bootstrap-components
plotly
diskcache
gunicorn
